.hero
  display: flex
  justify-content: space-between
  align-items: center
  gap: 25px

.hero-content-title
  max-width: 445px

.hero-content-text
  margin: 44px 0
  max-width: 445px

.hero-image
  max-width: 35%
  object-fit: contain
  