@use '../general/general'

.hero-container
  display: flex
  justify-content: space-between
  align-items: center
  gap: 100px

.hero-content-text
  margin: 25px 0

.hero-image
  max-width: 45%
  object-fit: contain

@media screen and (max-width: general.$tablet-large)
  .hero-container
    gap: 75px

@media screen and (max-width: general.$tablet)
  .hero-container
    gap: 50px

@media screen and (max-width: general.$tablet-small)
  .hero-container
    flex-direction: column
    align-items: start

  .hero-image
    max-width: 100%
  