@use '../general/general'

nav
  position: fixed
  width: 100%
  top: 0
  background: general.$bgd-color

.nav-container
  display: flex
  justify-content: space-between
  align-items: center

.navbar-link-list
  display: flex
  list-style: none
  gap: 40px

.navbar-logo-link,
.navbar-item-link
  text-decoration: none

  &:visited
    color: inherit

.navbar-list-item
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 2px

  &:hover
    color: general.$hover-color-primary

.hamburger-icon
  display: none

@media screen and (max-width: general.$mobile-large)
  .navbar-link-list
    display: none

  .hamburger-icon
    display: block
    