@use '../general/general'

nav
  position: fixed
  width: 100%
  top: 0
  background: general.$bgd-color

.nav-container
  display: flex
  justify-content: space-between
  align-items: center

.navbar-link-list
  display: flex
  list-style: none
  gap: 40px

.navbar-logo-link,
.navbar-item-link
  color: general.$text-color
  text-decoration: none

  &:visited
    color: general.$text-color

.navbar-list-item
  text-transform: uppercase
  font-size: 12px
  letter-spacing: 2px

  &:hover
    color: general.$hover-color-primary

.hamburger-icon
  display: none

@media screen and (max-width: general.$tablet-small)
  .navbar-link-list
    flex-direction: column
    align-items: center
    padding: 40px 0
    gap: 21px
    background: general.$bgd-color
    width: 223px
    position: absolute
    top: 86px
    right: 25px
    border: 1px solid general.$field-color

  .navbar-list-item
    color: general.$text-color


  .hamburger-icon
    display: block
    