.projects-section
  display: flex
  flex-direction: column
  gap: 80px
  
.project
  display: flex
  align-items: center
  gap: 100px

.project-image
  max-width: 100%

.project-content-text
  margin: 25px 0