@use '../general/general'
  
.projects-container
  display: flex
  flex-direction: column
  gap: 100px
  margin-top: 40px
  
.project
  display: flex
  align-items: center
  gap: 100px

.project-image
  max-width: 45%

.project-content
  width: 100%
  
.project-content-text
  margin: 25px 0
  max-width: 400px

.project-content-skills
  max-width: 400px
  margin-bottom: 25px
  color: general.$hover-color-primary
  font-weight: 600

.project-content-btn-container
  display: flex
  gap: 10px
  flex-wrap: wrap

@media screen and (max-width: 1000px)
  .project
    gap: 50px

@media screen and (max-width: 800px)
  .project-image
    max-width: 40%

@media screen and (max-width: 750px)
  .project-image
    max-width: 100%

  .project
    flex-direction: column
    gap: 50px

  .project-content-text,
  .project-content-skills
    max-width: 100%