nav
  display: flex
  justify-content: space-between
  align-items: center

.navbar-links
  display: flex
  list-style: none

.navbar-links-li
  margin-left: 25px

.navbar-links-li-link
  display: flex
  align-items: center

.navbar-links-li-icon
  height: 25px !important
