@use '../general/general'
  
.navbar-links
  display: flex
  align-items: center
  gap: 15px
  
.social-icon-item-link
  text-decoration: none

.social-icon-item
  display: flex
  align-items: center
  font-size: 25px
  color: general.$text-color

  &:hover
    color: general.$hover-color-primary