/* Error: Expected digit.
 *    ,
 * 24 |     color: $general.$text-color
 *    |                     ^
 *    '
 *   src/css/sections/navbar.sass 24:21  @import
 *   src/css/index.sass 9:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a    \2577 \a 24 \2502      color: $general.$text-color\a    \2502                      ^\a    \2575 \a   src/css/sections/navbar.sass 24:21  @import\a   src/css/index.sass 9:9              root stylesheet";
}
