// Color Variables
$text-color: #33323D
$btn-color-primary: #203A4C
$hover-color-primary: #5FB4A2
$btn-color-secondary: #FAFAFA
$hover-color-secondary: #5FB4A2
$bgd-color: #FAFAFA
$field-color: #EAEAEB
$errors-color: #F43030 

// Text Variables
$serif: 'Ibarra Real Nova', serif
$sans-serif: 'Public Sans', sans-serif

// Breakpoints
$mobile: 400px
$tablet-small: 715px
$tablet: 860px
$tablet-large: 1100px

// Text, Background
*
  margin: 0
  box-sizing: border-box

html  
  background: $bgd-color
  font-family: $sans-serif
  color: $text-color
  font-weight: 300
  font-size: 16px
  line-height: 30px

.container
  max-width: 1100px
  padding: 25px
  margin: 0 auto

section
  margin-bottom: 80px
  
h1, h2, h3
  font-family: $serif

h1
  font-weight: 700
  font-size: 50px
  line-height: 50px
  letter-spacing: -0.45px

h2
  font-weight: 700
  font-size: 40px
  line-height: 42px
  letter-spacing: -0.36px

h3
  font-weight: 400
  font-size: 32px
  line-height: 36px
  letter-spacing: -0.29px

ul
  padding: 0

li
  list-style: none

// Mobile styles
@media screen and (max-width: $tablet)
  section
    margin-bottom: 60px

  h1
    font-size: 40px
    line-height: 42px